.cabecalho-geral{
    color: white;
    background-color: rgba(238, 7, 7, 0.986);
    text-align: center;
    }
.tit-1-secao{
    text-align: center;
    font-size: 40px;

}
body{
    background-color: whitesmoke;
}
.titulo-cabecalho{
    font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
}
